.mo-navbar {
    display: flex;
    align-items: center;
}

.nav-li {
    margin: 0 13px;
    position: relative;

    &:hover {
        .drop-ul {
            transform: translateX(-50%) translateY(0);
            visibility: visible;
            opacity: 1;
        }
    }

    &.thobe-li {
        &:hover {
            .nav-anchor {
                color: $man;
            }
        }
    }

    &.abaya-li {
        &:hover {
            .nav-anchor {
                color: $woman;
            }
        }
    }
}

.nav-anchor {
    font-size: 17px;
    line-height: 30px;
    color: $main;
    font-family: bold;
    @include transition(all 0.3s ease-in-out);

    &:hover {
        color: $man;
    }
}

.drop-ul {
    position: absolute;
    top: 100%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    padding: 10px 13px 13px;
    min-width: 140px;
    @include transition(all 0.3s ease-in-out);
    transform: translateX(-50%) translateY(10%);
    visibility: hidden;
    opacity: 0;

    &:before {
        content: "";
        width: 0;
        height: 0;
        display: block;
        border-width: 6px;
        border-style: solid;
        bottom: 100%;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
    }

    &.thobe-ul {
        background-color: rgba($man, 0.949);

        &::before {
            border-color: transparent transparent rgba($man, 0.949);
        }
    }

    &.abaya-ul {
        background-color: rgba($woman, 0.949);

        &::before {
            border-color: transparent transparent rgba($woman, 0.949);
        }
    }

}

.drop-li {
    width: 100%;
    border-bottom: 1px solid rgba(#fff, 0.2);
    padding-bottom: 7px;
    margin-bottom: 2px;

    &:last-of-type {
        border: none;
        margin: 0;
        padding: 0;
    }
}

.drop-anchor {
    white-space: nowrap;
    font-size: 16px;
    color: #fff;

    &:hover {
        color: #fff;
    }
}