header {
    height: 110.42px;

    @include sm {
        height: 100.86px;
    }

    @include xs {
        height: 67.83px;
    }
}

.fixed-header {
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 21px 0;
    @include transition(all 0.3s ease-in-out);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    @include xs {
        padding: 10px 0;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: block;
    width: 315.75px;

    @include sm {
        width: auto;
    }

    img {
        width: 186px;
        @include transition(all 0.3s ease-in-out);

        @include sm {
            width: 160px;
        }

        @include xs {
            width: 130px;
        }
    }
}

.last-head {
    display: flex;
    align-items: center;
}

.mo-user-nav {
    display: flex;
    align-items: center;
}

.user-anchor {
    font-size: 18px;
    color: $main;
    display: flex;
    align-items: center;
    @include transition(all 0.3s ease-in-out);
    margin-left: 22px;

    #{$ltr} & {
        margin-right: 22px;
        margin-left: 0;
    }

    .text {
        font-size: 14px;
        margin-right: 6px;

        #{$ltr} & {
            margin-right: 0;
            margin-left: 6px;
        }

        @include sm {
            display: none;
        }
    }

    &:hover {
        color: $man;
    }

    &.mo-cart-icon {
        @include xs {
            margin: 0;

            #{$ltr} & {
                margin: 0;
            }
        }
    }

    &.mo-menu-icon {
        display: none;

        @include xs {
            display: flex;
        }
    }
}

.lang {
    position: relative;

    .lang-anchor {
        font-size: 14px;
        color: $lang;
        display: flex;
        align-items: center;
        cursor: pointer;
        @include transition(all 0.3s ease-in-out);

        img {
            margin-left: 7px;

            #{$ltr} & {
                margin-right: 7px;
                margin-left: 0;
            }
        }

        &:after {
            content: "\e874";
            font-family: 'Linearicons-Free';
            font-size: 8px;
            margin-right: 4px;

            #{$ltr} & {
                margin-right: 0;
                margin-left: 4px;
            }
        }

        &:hover {
            color: $main;

            &:after {
                color: $main;
            }
        }

    }

    .lang-dropdown {
        position: absolute;
        width: 121px;
        height: auto;
        right: -22px;
        top: 125%;
        z-index: 10;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.13);
        padding: 10px 10px 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: none;
        @include transition(all 0.3s ease-in-out);

        visibility: hidden;
        opacity: 0;
        transform: translateY(20px);

        #{$ltr} & {
            right: -19px;
        }

        &:before {
            content: "";
            width: 0;
            height: 0;
            display: block;
            border-width: 6px;
            border-color: transparent transparent #ffffff;
            border-style: solid;
            top: -12px;
            position: absolute;
            right: 50%;
            transform: translateX(50%);
        }

        .lang-anchor {
            width: 100%;
            border-bottom: 1px solid $border;
            padding-bottom: 8px;
            margin-bottom: 6px;
            justify-content: center;
            color: $lang;

            &:hover {
                color: $main;
            }

            &:last-of-type {
                border: none;
            }

            &:after {
                display: none;
            }
        }


    }

    &:hover {
        .lang-dropdown {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.scroll {
    padding: 10px 0;

    @include xs {
        padding: 7px 0;
    }

    .logo {
        img {
            width: 120px;

            @include xs {
                width: 100px;
            }
        }
    }
}