.banner {
    width: 100%;
    display: block;
    overflow: hidden;
    margin-bottom: 15px;
    border: 1px solid #e6e6e6;
    @include transition(all 0.3s ease-in-out);

    img {
        width: 100%;
        backface-visibility: hidden;
        @include transition(all 0.3s ease-in-out);

    }
}

.order {
    position: absolute;
    bottom: 55px;
    left: 50px;
    width: 180px;
    height: 45px;
    color: #fff;
    font-size: 18px;
    font-family: med;
    display: flex;
    align-items: center;
    padding: 0 25px;
    justify-content: space-between;
    border-radius: 23px;
    background-size: 200%;
    @include transition(all 0.5s ease-in-out);

    #{$ltr} & {
        min-width: 180px;
        width: auto;
    }

    @include xs {
        width: 150px;
        height: 35px;
        padding: 0;
        bottom: 30px;
        left: 25px;
        justify-content: center;

        &::after {
            margin-right: 7px;

            #{$ltr} & {
                margin-left: 7px;
                margin-right: 0;
            }
        }
    }

    &:after {
        content: "\e879";
        font-family: 'Linearicons-Free';

        #{$ltr} & {
            content: "\e87a";
            margin-left: 7px;
        }
    }

    &.man-order {
        background-image: -webkit-gradient(linear, left top, right top, from($man), color-stop($main), color-stop($main), to($man));
        background-image: -o-linear-gradient(left, $man, $main, $main, $man);
        background-image: linear-gradient(to right, $man, $main, $main, $man);
    }

    &.woman-order {
        background-image: -webkit-gradient(linear, left top, right top, from($woman), color-stop($main), color-stop($main), to($woman));
        background-image: -o-linear-gradient(left, $woman, $main, $main, $woman);
        background-image: linear-gradient(to right, $woman, $main, $main, $woman);
    }

    &:hover {
        background-position: 100%;
    }
}